* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

section {
  padding: 20px;
}

.cards-container, .internship-container, .resources-container, .faq-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card, .internship, .faq {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: left;
}

.resources-container a {
  margin: 10px;
  text-decoration: none;
  color: blue;
}
